@model Entidades.Ingreso

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
	<h4>Ingreso</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.CodIngreso)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CodIngreso)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Placa)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Placa)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.FechaIngreso)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.FechaIngreso)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
	@Html.ActionLink("Back to List", "Index")
</p>