@*@model IEnumerable<Entidades.Ingreso>




<br /><br />
<div class="container" >
	<b>Search By : </b>
	<select id="SearchBy">
		<option value="Id">codigo_registro</option>
		<option value="Placa">Placa</option>
	</select><br /><br />
	@Html.TextBox("Search")<input type="submit" id="SearchBtn" value="Search" /><br /><br />
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>codigo</th>
				<th>Tarifa</th>
				<th>Cajero</th>
				<th>Placa</th>
				<th>Fecha</th>
				<th>Espacio</th>
			</tr>
		</thead>
		<tbody id="DataSearching">
			@foreach (var Item in Model)
			{

				<tr>
					<td>@Item.CodIngreso</td>
					<td>@Item.Tarifa.Id</td>
					<td>@Item.Cajero.Id</td>
					<td>@Item.Placa</td>
					<td>@Item.FechaIngreso</td>
					<td>@Item.Espacio.Id</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<div class="modal fade" id="ModalIngreso"  role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalIngresoLabel"> Crear Ingreso </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
	$(document).ready(function () {
		$("#SearchBtn").click(function () {

			var SearchValue = $("#Search").val();
			var SetData = $("#DataSearching");
			SetData.html("");
			$.ajax({
				type: "post",
				url: "/Ingreso/GetSearchingData?SearchValue=" + SearchValue,
				contentType: "html",
				success: function (result) {
					if (result.length == 0) {
						SetData.append('<tr style="color:red"><td colspan="3">No Match Data</td></tr>')
					}
					else {
						$.each(result, function (index, value) {
							var Data = "<tr>" +
								"<td>" + value.CodIngreso + "</td>" +
								"<td>" + value.Tarifa.Id + "</td>" +
								"<td>" + value.Cajero.Id + "</td>" +
								"<td>" + value.Placa + "</td>" +
								"<td>" + value.FechaIngreso + "</td>" +
								"<td>" + value.Espacio.Id + "</td>"
							"</tr>";
							SetData.append(Data);

						});
					}
				}
			});
		});
	});
</script>*@




@model IEnumerable<Entidades.Ingreso>

	@{
		ViewBag.Title = "Index";
		Layout = "~/Views/Shared/_Layout.cshtml";
	}

	<h2>Index</h2>

	<p>
		@Html.ActionLink("Create New", "Create")
	</p>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.CodIngreso)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Placa)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FechaIngreso)
			</th>
			<th></th>
		</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.CodIngreso)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Placa)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.FechaIngreso)
			</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })|
                @Html.ActionLink("Ingreso", "Create", "Comprobante",new { id=item.CodIngreso},null)
            </td>
		</tr>
	}

	</table>
