@model IEnumerable<Entidades.Comprobante>

<br /><br />
<div class="container">
    <b>Search By : </b>
    <select id="SearchBy">
        <option value="FechaFinal">FechaFinal</option>
        <option value="Placa">Placa</option>
    </select><br /><br />
    @Html.TextBox("Search")<input type="submit" id="SearchBtn" value="Search" /><br /><br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID </th>
                <th>Placa</th>
                <th>Monto</th>
                <th>FechaFinal</th>
            </tr>
        </thead>
        <tbody id="DataSearching">
            @foreach (var Item in Model)
            {

                <tr>
                    <td>@Item.Id</td>
                    <td>@Item.cod_ingreso.CodIngreso</td>
                    <td>@Item.Monto</td>
                    <td>@Item.FechaFinal</td>
                </tr>}
        </tbody>
    </table>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
	$(document).ready(function () {
		$("#SearchBtn").click(function () {
			var SearchValue = $("#Search").val();
			var SetData = $("#DataSearching");
			SetData.html("");
			$.ajax({
				type: "post",
				url: "/Ingreso/GetSearchingData?SearchValue=" + SearchValue,
				contentType: "html",
				success: function (result) {
					if (result.length == 0) {
						SetData.append('<tr style="color:red"><td colspan="3">No Match Data</td></tr>')
					}
					else {
						$.each(result, function (index, value) {
							var Data = "<tr>" +
								"<td>" + value.Id + "</td>" +
								"<td>" + value.cod_ingreso.CodIngreso + "</td>" +
								"<td>" + value.Monto + "</td>" +
								"<td>" + value.FechaFinal + "</td>" 
							"</tr>";
							SetData.append(Data);

						});
					}
				}
			});
		});
	});
</script>





















@*@model IEnumerable<Entidades.Comprobante>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Comprobantes</h2>

<p>
    @Html.ActionLink("Generar Comprobante", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cod_ingreso.FechaIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cod_ingreso.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>*@



