@model IEnumerable<Entidades.Localizacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodLocalizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodLocalizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.CodLocalizacion  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.CodLocalizacion  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.CodLocalizacion  })
        </td>
    </tr>
}

</table>
